{% extends 'DarkRisesWebBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		body{
			background: url("{{ asset("/img/eventos/sello/fondo-arriba.png") }}") no-repeat center top #000000 !important;
		}
		.main-content{
			background: none !important;
		}
		.counter{
			background: url("{{ asset("/img/eventos/sello/piedra-arriba.png") }}") no-repeat center top;
			width: 979px;
			height: 325px;
			margin-top: 60px;
			margin-right: 1000px;
			padding-top: 50px;
		}
		.sello{
			background: url("{{ asset("/img/eventos/sello/piedra-abajo.png") }}") no-repeat center top;
			width: 1029px;
			height: 1372px;
			text-align: center;
			margin-top: 100px;
			padding-top: 150px;
		}
		.end{
			height: 357px;
			background: url("{{ asset("/img/eventos/sello/fondo-abajo.png") }}") no-repeat center bottom;
			z-index: 0;
		}
		.pop-up{
			width: 1000px;
			height: 1293px;
			background: url("{{ asset("/img/eventos/sello/pop-fondo.png") }}") no-repeat center top;
			margin: auto;
		}
		.numeros{
			background: url("{{ asset("/img/eventos/sello/counter-fondo.png") }}") no-repeat center top;
			width: 485px;
			height: 149px;
		}
		.margin{
			margin-left: 350px;
		}
		.cantidad{
			letter-spacing: 22px;
			padding-left: 30px;
			padding-top: 18px;
			font-size: 100px;
		}
		.white-glow{
			filter: glow(color=#ffffff,strength=1);
			text-shadow: 0 0 0.1em #ffffff;
		}
		.black-glow{
			filter: glow(color=#000000,strength=1);
			text-shadow: 0 0 0.2em #000000;
		}
		.padding{
			margin-top: 150px;
		}
		.counter-popup{
			color: #fe6000;
			text-align: center;
			margin-left: 300px;
			cursor: pointer;
		}
		.shadow-padding{
			padding-right: 170px;
			padding-left: 170px;
			text-align: left;
		}
		.flash{
			width: 465px;
			height: 440px;
			margin-top: 200px;
			position:relative;
			z-index:1;
		}
		.flash-wrapper{
			background: url("{{ asset("/img/eventos/sello/background-sello.png") }}") no-repeat center;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 500px;
			height: 500px;
			padding-top: 50px;
		}
		.sello-icons{
			margin-top: -430px;
			width: 465px;
			height: 440px;
			margin-left: 30px;
			margin-right: auto;
			position: absolute;
			z-index: 10;
		}
		.sello-icon-interrogacion{
			width: 60px;
			height: 61px;
			background: url("{{ asset("/img/eventos/sello/sello-icon-interrogacion/off.png") }}") no-repeat center;
			margin: auto;
			display: block;
			margin-top: 5px;
			margin-right: 206px;
		}
		.sello-icon-interrogacion-hover{
			background: url("{{ asset("/img/eventos/sello/sello-icon-interrogacion/over.png") }}") no-repeat center;
		}
		.sello-icon-key{
			width: 60px;
			height: 77px;
			background: url("{{ asset("/img/eventos/sello/sello-icon-key/off.png") }}") no-repeat center;
			margin: auto;
			display: block;
			margin-top: 17px;
			margin-right: 51px;
		}
		.sello-icon-key-hover{
			background: url("{{ asset("/img/eventos/sello/sello-icon-key/over.png") }}") no-repeat center;
		}
		.sello-icon-media{
			width: 60px;
			height: 77px;
			background: url("{{ asset("/img/eventos/sello/sello-icon-media/off.png") }}") no-repeat center;
			margin: auto;
			display: block;
			margin-top: 50px;
			margin-right: 29px;
		}
		.sello-icon-key-media{
			background: url("{{ asset("/img/eventos/sello/sello-icon-media/over.png") }}") no-repeat center;
		}
		.number{
			float: left;
			margin-left: 5px;
			margin-right: 1px;
			margin-top: 15px;
		}
		.info-sellos{
			display:block;
			width:70%;
			margin: auto;
		}
		.text-sellos{
			float: left;
			display: none;
			text-align: left;
			width: 60%;
		}
		.menu-sellos{
			float: right;
			width: 30%;
		}
		.title{
			font-family: copperplate;
			font-size: 30px;
		}
		.sello-menu-interrogacion{
			width: 51px;
			height: 50px;
			background: url("{{ asset("/img/eventos/sello/sello-icon-interrogacion/menu-off.png") }}") no-repeat center;
		}
		.sello-menu-interrogacion-over{
			background: url("{{ asset("/img/eventos/sello/sello-icon-interrogacion/menu-over.png") }}") no-repeat center;
		}
		.sello-menu-interrogacion-stay{
			background: url("{{ asset("/img/eventos/sello/sello-icon-interrogacion/menu-over.png") }}") no-repeat center;
		}
		.sello-menu-key{
			width: 36px;
			height: 75px;
			background: url("{{ asset("/img/eventos/sello/sello-icon-key/menu-off.png") }}") no-repeat center;
		}
		.sello-menu-key-over{
			background: url("{{ asset("/img/eventos/sello/sello-icon-key/menu-over.png") }}") no-repeat center;
		}
		.sello-menu-key-stay{
			background: url("{{ asset("/img/eventos/sello/sello-icon-key/menu-over.png") }}") no-repeat center;
		}
		.sello-menu-media{
			width: 47px;
			height: 46px;
			background: url("{{ asset("/img/eventos/sello/sello-icon-media/menu-off.png") }}") no-repeat center;
		}
		.sello-menu-media-over{
			background: url("{{ asset("/img/eventos/sello/sello-icon-media/menu-over.png") }}") no-repeat center;
		}
		.sello-menu-media-stay{
			background: url("{{ asset("/img/eventos/sello/sello-icon-media/menu-over.png") }}") no-repeat center;
		}
		.sello-menu{
			cursor:pointer;
			margin: 5px auto;
		}
		.padding-top{
			margin-top: 5px;
		}
		.story1{
			margin-right: 110px;
		}
		.story2{
			margin-right: 115px;
		}
		.story3{
			margin-right: 130px;
		}
		.story4{
			margin-right: 150px;
		}
		.story5{
			margin-right: 200px;
		}
		.story6{
			margin-right: 250px;
		}
		.story7{
			margin-right: 260px;
		}
		.story8{
			margin-right: 300px;
		}
		.story9{
			margin-right: 110px;
		}
	</style>
{% endblock %}

{% block main %}
	<div class="counter">
		<div class="numeros margin">
			<div class="cantidad copperplate white-glow">
				00000
			</div>
		</div>
		<div class="counter-popup">¿Qué es ésto?</div>
	</div>
	<div class="sello">
		<div class="flash-wrapper">
		 <object id="FlashID" class="flash" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" >
			<param name="movie" value="{{ asset("/img/eventos/sello/animacionsello.swf") }}" />
			<param name="quality" value="high" />
			<param name="wmode" value="transparent" />
			<param name="swfversion" value="6.0.65.0" />
			<!-- Esta etiqueta param indica a los usuarios de Flash Player 6.0 r65 o posterior que descarguen la versión más reciente de Flash Player. Elimínela si no desea que los usuarios vean el mensaje. -->
			<!-- <param name="expressinstall" value="Scripts/expressInstall.swf" /> -->
			<param name="BGCOLOR" value="#D6D6D6" />
			<!-- La siguiente etiqueta object es para navegadores distintos de IE. Ocúltela a IE mediante IECC. -->
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash" data="{{ asset("/img/eventos/sello/animacionsello.swf") }}" width="465" height="440">
			  <!--<![endif]-->
			  <param name="quality" value="high" />
			  <param name="wmode" value="transparent" />
			  <param name="swfversion" value="6.0.65.0" />
			  <!--<param name="expressinstall" value="Scripts/expressInstall.swf" />-->
			  <param name="BGCOLOR" value="#D6D6D6" />
			  <!-- El navegador muestra el siguiente contenido alternativo para usuarios con Flash Player 6.0 o versiones anteriores. -->
			  <div>
				<h4>El contenido de esta página requiere una versión más reciente de Adobe Flash Player.</h4>
				<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obtener Adobe Flash Player" width="112" height="33" /></a></p>
			  </div>
			  <!--[if !IE]>-->
			</object>
		<!--<![endif]-->
	  </object>
	   <div class="sello-icons">
	  	<a class="sello-icon-interrogacion" href="/guia/quees/"></a>
	  	<a class="sello-icon-key" href="/inicio/"></a>
	  	<a class="sello-icon-media" href="/media/"></a>
	  </div>
	  
	  </div>
	 <div class="info-sellos">
	  	<div class="text-sellos text-sellos-quees">
	  		<p class="title">¿Qué es Dark Rises?</p>
	  		<p>No basta solamente con conocer el nombre de un nuevo mundo, debes habituarte poco a poco hacia esa nueva realidad en que caerás.</p>
			<p>Estas primeras imágenes muestran como es el mundo de Dark Rises y en qué consiste este mundo contemporáneo lleno de tantos sucesos bizarros.</p>
			<p>Este primer sello sólo es una bienvenida, pero necesaria.</p>
	  	</div>
	  	<div class="text-sellos text-sellos-media">
	  		<p class="title">Media</p>
	  		<p>Ya vas avanzando en un mundo lleno de oscuridad y vas encontrando información cada vez más valiosa de este ambiente.</p>
			<p>Aquí podrás encontrar una gran cantidad de archivos e información sobre todos los personajes involucrados en esta trama.</p>
			<p>Cada vez más irás bajando por los peldaños que te llevan hacia lo desconocido, aún no tienes ninguna razón para temer.</p>
	  	</div>
	  	<div class="text-sellos text-sellos-key">
	  		<p class="title">Inicio</p>
	  		<p>Lo que sigue a una cordial bienvenida, es invitarte a ver todas las herramientas que te permitirán explorar, poco a poco, todo lo que el mundo de Dark Rises tiene para ofrecer.</p>
			<p>Explore pacientemente, ya que no todo aparecerá instantaneamente. Algunas cosas tomarán más tiempo que otras en aparecer pero inevitablemente aparecerán.</p>
			<p>Mire con cuidado donde caminas.</p>
	  	</div>
	  	<div class="menu-sellos">
	  		<p class="title">Otros Sellos</p>
	  		<p class="sello-menu-interrogacion sello-menu"></p>
	  		<p class="sello-menu-key sello-menu"></p>
	  		<p class="sello-menu-media sello-menu"></p>
	  	</div>
	  </div>
	</div>
{% endblock %}

{% block lightboxes %}
	{{ parent() }}
	<div class="shadow-inside pop-up text-center" name="principiante"/>
 		<div class="shadow-padding">
 			<div class="numeros">
				<div class="cantidad copperplate white-glow">
					00000
				</div>
			</div>
			
			<p class="black-glow">
			<div class="story1">
			{% trans %}Todo comenzó una noche. Una estrella fugaz pasó por el oscuro cielo sin que nadie supiera que era exactamente. {% endtrans %}<br/>
			</div>
			<div class="story2 padding-top clear">
			{% trans %}Con el pasar de los días numerosos fenómenos extraños empezaron a ocurrir, hechos paranormales y aterradores, sucesos que se hicieron habituales en la prensa mundial.{% endtrans %}<br/>
			</div>
			<div class="story3 padding-top clear">
			{% trans %}Criaturas sobrenaturales surgen de las sombras, están entre los humanos los acechan y los esperan. Todo esto empieza a ser tan común, tan frecuente, que hemos llegado al punto en que uno de estos seres se ha manifestado para contar exactamente lo que ha ocurrido en realidad. {% endtrans %}<br/>
			</div>
			<div class="story4 padding-top clear">
			{% trans %}Ueyotl, así se hace llamar este ser. Declara que previo al paso de esta estrella algunas criaturas de gran poder pedían sacrificios para así poder abrir un portal. Este sacrificio constaba de la recolección de almas humanas antes del paso de la gran estrella. {% endtrans %}<br/>
			</div>
			<div class="story5 padding-top clear">
			{% trans %}El portal ha sido abierto, y miles de criaturas han pasado a este mundo, están presentes día y noche, sin embargo la  noche es herramienta de poder para estos seres, esta da desenfreno a sus más aterradores deseos.{% endtrans %}<br/>
			</div>
			<div class="story6 padding-top clear">
			{% trans %}Sin embargo Ueyotl da una luz, una vana esperanza para cerrar aquel portal  y devolver a aquellas criaturas a su dimensión. {% endtrans %}<br/>
			</div>
			<div class="story7 padding-top clear">
			{% trans %}Revela que para lograrlo se debe reunir la mayor cantidad de apoyo de todas las personas que lean estas líneas. La condición es una sola, loguearse en www.darkrises.com, así dar apoyo y estar al tanto de cada acontecimiento que se aproxime. {% endtrans %}<br/>
			</div>
			<div class="story8 padding-top clear">
			{% trans %}Ueyotl  anuncia también que cada 2500 apoyos, él liberará un desafío para todos. No se sabe en qué consiste cada desafío pero sólo queda una manera de averiguarlo. {% endtrans %}<br/>
			</div>
			<div class="story9 padding-top clear">
			{% trans %}Únete a esta tarea y logremos cerrar el portal.{% endtrans %}<br/>
			</div>
			<br/>
			</p>
 		</div>
 	</div>
{% endblock %}

{% block end %}
	<div class="end">
	</div>
	{{ parent() }}
{% endblock %}


{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(
			function(){
				$(".counter-popup").click(
					function(e){
						$(".shadow").show();
						$(".pop-up").show();
					}
				);
				
				$(".sello-menu-interrogacion").hover(
					function(){
						$(this).addClass("sello-menu-interrogacion-over")
					},
					function(){
						$(this).removeClass("sello-menu-interrogacion-over")
					}
				).click(function(){
					$(".text-sellos").hide();
					$(".text-sellos-quees").show();
					$(this).addClass("sello-menu-interrogacion-stay");
					$(".sello-menu-key").removeClass("sello-menu-key-stay");
					$(".sello-menu-media").removeClass("sello-menu-media-stay");
				}).click();
				
				$(".sello-menu-key").hover(
					function(){
						$(this).addClass("sello-menu-key-over")
					},
					function(){
						$(this).removeClass("sello-menu-key-over")
					}
				).click(function(){
					$(".text-sellos").hide();
					$(".text-sellos-key").show();
					$(this).addClass("sello-menu-key-stay");
					$(".sello-menu-interrogacion").removeClass("sello-menu-interrogacion-stay");
					$(".sello-menu-media").removeClass("sello-menu-media-stay");
				});;
				$(".sello-menu-media").hover(
					function(){
						$(this).addClass("sello-menu-media-over")
					},
					function(){
						$(this).removeClass("sello-menu-media-over")
					}
				).click(function(){
					$(".text-sellos").hide();
					$(".text-sellos-media").show();
					$(this).addClass("sello-menu-media-stay")
					$(".sello-menu-interrogacion").removeClass("sello-menu-interrogacion-stay");
					$(".sello-menu-key").removeClass("sello-menu-key-stay");
				});;
				
				$(".sello-icon-interrogacion").hover(
					function(){
						$(this).addClass("sello-icon-interrogacion-hover")
					},
					function(){
						$(this).removeClass("sello-icon-interrogacion-hover")
					}
				);
				$(".sello-icon-key").hover(
					function(){
						$(this).addClass("sello-icon-key-hover")
					},
					function(){
						$(this).removeClass("sello-icon-key-hover")
					}
				);
				$(".sello-icon-media").hover(
					function(){
						$(this).addClass("sello-icon-key-media")
					},
					function(){
						$(this).removeClass("sello-icon-key-media")
					}
				);
				
				setInterval(
					$.ajax({
						url: "http://lilith.darkrises.com/backend.php/userinfo/getsouls/",
						type: "GET",
						crossDomain : true,
						dataType: "jsonp",
						success: function(object){
							if(object["souls"] < 1000)
								object["souls"] = "00" + object["souls"];
							else if(object["souls"] < 10000)	
								object["souls"] = "0" + object["souls"];
							object["souls"] = object["souls"].split("");
							
							$(".cantidad").html('<img src="/img/numeros/'+object["souls"][0]+'.png" class="number"/>'+
								'<img src="/img/numeros/'+object["souls"][1]+'.png" class="number"/>'+
								'<img src="/img/numeros/'+object["souls"][2]+'.png" class="number"/>'+
								'<img src="/img/numeros/'+object["souls"][3]+'.png" class="number"/>'+
								'<img src="/img/numeros/'+object["souls"][4]+'.png" class="number"/>'
							);
						},
						error: function(){alert("Fail!")}
					}),
					300000
				);
			});
	</script>
	{% if session == 'first' %}
	<script type="text/javascript">
		$(document).ready(
			function(){
				$(".counter-popup").click();
			}
		);
	</script>
	{% endif %}
{% endblock %}

{% block hidden %}
	{{ parent() }}
	<img src="{{ asset("/img/eventos/sello/sello-icon-interrogacion/over.png") }}"/>
	<img src="{{ asset("/img/eventos/sello/sello-icon-key/over.png") }}"/>
	<img src="{{ asset("/img/eventos/sello/sello-icon-media/over.png") }}"/>
	<img src="{{ asset("/img/eventos/sello/pop-fondo.png") }}" />
{% endblock %}
	