{% extends 'DarkRisesWebBundle:Default:base.html.twig' %}
{% block meta %}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.thumb{
			position: relative;
			text-align: center;
			width: 259px;
			height: 195px;
			float: left;
		}
		.zoom{
			z-index: 3;
			width: 259px;
			height: 195px;
			cursor: pointer;
		}
		.zoom-up{
			width: 259px;
			height: 27px;
			background: url("{{ asset('/img/galeria/zoom-mini/up.png') }}") no-repeat top;
		}
		.zoom-down{
			width: 259px;
			height: 27px;
			margin-right: -5px;
			background: url("{{ asset('/img/galeria/zoom-mini/down.png') }}") no-repeat top;
		}
		.zoom-cuerpo{
			width: 259px;
			height: 141px;
			background: url("{{ asset('/img/galeria/zoom-mini/cuerpo.png') }}") repeat-y top;
		}
		.lupa{
			display: block;
			position: absolute;
			right: 100px;
			top: 60px;
		}
		.zoom-hover{
			display:none;
			left: 2px;
			position: absolute;
			top: 1px;
		}
		.zoom-normal{
			border: 5px solid #540606;
			height: 175px;
			left: 9px;
			position: absolute;
			top: 5px;
			width: 235px;
		}
		.gallery{
			width: 800px;
			height: 600px;
			overflow: hidden;
			margin: auto;
		}
		.gallery-page-container{
			height: 660px;
		}
		.gallery-slider{
			margin-right: 0px;
			border: 0;
			margin: 0;
			padding: 0;
		}
		.gallery-page{
			width: 800px;
			height: 600px;
			float: left;
			border: 0;
			margin: 0;
			padding: 0;
		}
		.center{
			margin: auto;
			display: block;
			margin-top:300px;
		}
		.flechas{
			margin: auto;
			width:800px;
		}
		.flecha-izquierda{
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
			float: left;
			display: block;
		}
		.flecha-derecha{
			float: right;
			display: block;
			cursor: pointer;
		}
		.paginador{
			width: 800px;
			margin:auto;
		}
		.paginador-left{
			width: 11px;
			height: 46px;
			float: left;
			background: url("{{ asset('/img/galeria/paginador/fondo/borde-izquierdo.png') }}") no-repeat top;	
		}
		.paginador-right{
			width: 11px;
			height: 49px;
			float: right;
			background: url("{{ asset('/img/galeria/paginador/fondo/borde-derecho.png') }}") no-repeat top;	
		}
		.paginador-cuerpo{
			height: 49px;
			width: 778px;
			background: url("{{ asset('/img/galeria/paginador/fondo/cuerpo.png') }}") repeat-x top;	
			float: left;
		}
		.paginador-inside{
			margin: 10px auto auto;
			text-align: center;
			width: auto;
		}
		.flecha-izquierda-paginador{
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
			float: left;
			display: block;
		}
		.flecha-derecha-paginador{
			float: left;
			display: block;
			cursor: pointer;
		}
		.flecha-izquierda-jump{
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
			float: left;
			display: block;
		}
		.flecha-derecha-jump{
			float: left;
			display: block;
			cursor: pointer;
		}
		.popup-enviar-click{
			color: #eb452b;
		}
		.number-page{
			background: url("{{ asset("img/galeria/actual-page.png") }}") no-repeat center;
			width: 47px;
			height: 28px;
			display: block;
			float: left;
			margin-top: -2px;
		}
		.number-page input{
			border: none;
			background: transparent;
			width: 37px;
			height: 18px;
			display: block;
			margin: 5px auto auto;
			font-family: copperplate, serif;
			text-align: center;
		}
		.page-count{
			font-family: copperplate, serif;
			width: 37px;
			height: 18px;
			float: left;
		}
		.ir-page{
			float:left;
		}
	</style>
{% endblock %}

 {% block body %}
 	<div class="h2"><div class="inside-h2">{% trans %} Ilustraciones {% endtrans %}</div></div>
 	<div class="clear">
		<p>{% trans %} Ueyotl está dispuesto a repartir algunas recompensas si Uds. envían retratos hablados de las criaturas que han visto deambulando por la ciudad. {% endtrans %} </p>
	
		<p>{% trans %}Desde que se abrió el portal, los avistamientos han sido más frecuentes y requerimos de tu ayuda para poder documentar y catalogar a todos estos seres sobrenaturales que han aparecido.{% endtrans %} </p>
	
		<p>{% trans %}Si te has encontrado con algún ser sobrenatural, por favor envíanos tu imagen.{% endtrans %} </p>
	
		<p>{% trans %}Investigaremos y recompensaremos a las imágenes que nos lleve a algún resultado favorable.{% endtrans %} </p>
	
		<p>{% trans %}Para enviar tu ilustración, por favor visite {% endtrans %} <a href="http://{{ app.request.host}}/sendFanart" class="popup-enviar-click"> {% trans %} aqui {% endtrans %} </a> </p>
	</div>
 	<div class="flechas clear">
		<img src="{{ asset("/img/galeria/flecha/off.png") }}" class="flecha-izquierda"/>		
		<img src="{{ asset("/img/galeria/flecha/off.png") }}" class="flecha-derecha"/>
	</div>
 	<div class="gallery clear">
 		<div class="gallery-page-container">
 			<div class="gallery-slider">
 			
 			</div>
		</div>
 	</div>
 	<div class="paginador clear">
 		<div class="paginador-left"></div>
 		<div class="paginador-cuerpo">
 			<div class="paginador-inside">
 				<img src="{{ asset("/img/galeria/paginador/jump/off.png") }}" class="flecha-izquierda-jump"/>
 				<img src="{{ asset("/img/galeria/paginador/flecha/off.png") }}" class="flecha-izquierda-paginador"/>
 				<div class="number-page"><input size="2" type="text" value="1"/></div>
 				<div class="page-count"></div>
 				<img src="{{ asset("/img/galeria/paginador/ir/off.png") }}" class="ir-page"/>
				<img src="{{ asset("/img/galeria/paginador/flecha/off.png") }}" class="flecha-derecha-paginador"/>
				<img src="{{ asset("/img/galeria/paginador/jump/off.png") }}" class="flecha-derecha-jump"/>
 			</div>
 		</div>
 		<div class="paginador-right"></div>
 	</div>
			
 {% endblock %}
 
 {% block lightboxes %}
 	{{ parent() }}
 {% endblock %}
 
 {% block hidden %}
 	{{ parent() }}
 	<img src="{{ asset('/img/galeria/flecha/over.png') }}"/>
 {% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
		var amount_per_page = 9;
		var filter_per_page = "id";
		var page_amount = Math.ceil({{ count }}/amount_per_page);
		var actual_page = 0;
		
		$(document).ready(
			function(){
				
				if(page_amount > 1)
					bindRight();
				
				i = 0;
				container = $(".gallery-page-container");
				
				while(i < page_amount){
					container.find(".gallery-slider").append('<div class="gallery-page gallery-page-'+i+'"></div>');
					i++;
				}	
				gallery(".gallery-page-0",0, amount_per_page, filter_per_page);
				$(".page-count").html("/ "+page_amount);
				$(".number-page input").val(actual_page + 1);
				
				if(page_amount > 1){
					$(".ir-page").attr("src", "{{ asset('/img/galeria/paginador/ir/on.png') }}")
						.hover(
							function(){$(this).attr("src","{{ asset('/img/galeria/paginador/ir/over.png') }}");},
							function(){$(this).attr("src","{{ asset('/img/galeria/paginador/ir/on.png') }}");}
						).click(
							function(){
								valor = parseInt($(".number-page input").val()) - 1;
								if((valor + 1) > page_amount){
									valor = page_amount;
									$(".number-page input").val(page_amount);
								}
								
								if(valor < actual_page)
									moveGallery(valor - actual_page - 1);
								else if(valor != actual_page)
									moveGallery(valor - actual_page);
							}
						);
				}
				container.css("width", (parseInt($(".gallery-page").css("width").split("px")[0])*page_amount)+"px");
				$(".paginador-inside").css("width", ($(".flecha-izquierda-jump").width() + 
													$(".flecha-derecha-jump").width() + 
													$(".flecha-izquierda-paginador").width() +
													$(".flecha-derecha-paginador").width() +
													$(".number-page").width() +
													$(".page-count").width() +
													$(".ir-page").width()) +
													"px");
			}
		);	
		
		function moveGallery(pages){
			container = $(".gallery-page-container");
			actual = parseInt(container.find(".gallery-slider").css("margin-left").split("px")[0]) * -1;
			move = parseInt($(".gallery-page").css("width").split("px")[0]);
			total = parseInt(container.css("width").split("px")[0]);
			margin_move = (move*pages) + actual;
			
			//container.animate({margin-right: margin});
			
			if(margin_move < 1 ){
				margin_move = 0;
				unbindLeft();
				bindRight();
				actual_page = 0;
			}else if(margin_move > (move*(page_amount - 1) - 1)){
				margin_move = total - move;
				unbindRight();
				bindLeft();
				actual_page = page_amount - 1;
			}else{
				bindLeft();
				bindRight();
				actual_page = actual_page + pages;
			}
			
			container.find(".gallery-slider").css("margin-left", (margin_move * -1)+"px");
			
			
			$(".number-page input").val(actual_page + 1);
			if($(".gallery-page-"+actual_page).html() == "")
				gallery(".gallery-page-"+actual_page, actual_page);
		}
		
		function unbindLeft(){
			$(".flecha-izquierda").attr("src","{{ asset('/img/galeria/flecha/off.png') }}").unbind("click").unbind("hover").css("cursor", "");
			$(".flecha-izquierda-paginador").attr("src","{{ asset('/img/galeria/paginador/flecha/off.png') }}").unbind("click").unbind("hover").css("cursor", "");
			$(".flecha-izquierda-jump").attr("src","{{ asset('/img/galeria/paginador/jump/off.png') }}").unbind("click").unbind("hover").css("cursor", "");
		}
		
		function unbindRight(){
			$(".flecha-derecha").attr("src","{{ asset('/img/galeria/flecha/off.png') }}").unbind("click").unbind("hover").css("cursor", "");
			$(".flecha-derecha-paginador").attr("src","{{ asset('/img/galeria/paginador/flecha/off.png') }}").unbind("click").unbind("hover").css("cursor", "");
			$(".flecha-derecha-jump").attr("src","{{ asset('/img/galeria/paginador/jump/off.png') }}").unbind("click").unbind("hover").css("cursor", "");
		}
		
		function bindRight(){
				$(".flecha-derecha").attr("src","{{ asset('/img/galeria/flecha/on.png') }}"
				).unbind("click").unbind("hover").hover(
					function(){$(this).attr("src","{{ asset('/img/galeria/flecha/over.png') }}");},
					function(){$(this).attr("src","{{ asset('/img/galeria/flecha/on.png') }}");}
				).click(
					function(){moveGallery(1);}
				).css("cursor", "pointer");
				
				$(".flecha-derecha-paginador").attr("src","{{ asset('/img/galeria/paginador/flecha/on.png') }}"
				).unbind("click").unbind("hover").hover(
					function(){$(this).attr("src","{{ asset('/img/galeria/paginador/flecha/over.png') }}");},
					function(){$(this).attr("src","{{ asset('/img/galeria/paginador/flecha/on.png') }}");}
				).click(
					function(){moveGallery(1);}
				).css("cursor", "pointer");
				
				$(".flecha-derecha-jump").attr("src","{{ asset('/img/galeria/paginador/jump/on.png') }}"
				).unbind("click").unbind("hover").hover(
					function(){$(this).attr("src","{{ asset('/img/galeria/paginador/jump/over.png') }}");},
					function(){$(this).attr("src","{{ asset('/img/galeria/paginador/jump/on.png') }}");}
				).click(
					function(){moveGallery(page_amount);}
				).css("cursor", "pointer");
		}
		
		function bindLeft(){
				$(".flecha-izquierda").attr("src","{{ asset('/img/galeria/flecha/on.png') }}"
				).unbind("click").unbind("hover").hover(
					function(){$(this).attr("src","{{ asset('/img/galeria/flecha/over.png') }}");},
					function(){$(this).attr("src","{{ asset('/img/galeria/flecha/on.png') }}");}
				).click(
					function(){moveGallery(-1);}
				).css("cursor", "pointer");
				
				$(".flecha-izquierda-paginador").attr("src","{{ asset('/img/galeria/paginador/flecha/on.png') }}"
				).unbind("click").unbind("hover").hover(
					function(){$(this).attr("src","{{ asset('/img/galeria/paginador/flecha/over.png') }}");},
					function(){$(this).attr("src","{{ asset('/img/galeria/paginador/flecha/on.png') }}");}
				).click(
					function(){moveGallery(-1);}
				).css("cursor", "pointer");
				
				$(".flecha-izquierda-jump").attr("src","{{ asset('/img/galeria/paginador/jump/on.png') }}"
				).unbind("click").unbind("hover").hover(
					function(){$(this).attr("src","{{ asset('/img/galeria/paginador/jump/over.png') }}");},
					function(){$(this).attr("src","{{ asset('/img/galeria/paginador/jump/on.png') }}");}
				).click(
					function(){moveGallery((page_amount * -1));}
				).css("cursor", "pointer");
		}
		
		function gallery(section, from, amount, filter){
		
			if(!amount)
				amount = 9;
			if(!filter)
				filter = "id";
			
			$(".gallery .gallery-page-container .gallery-slider "+section).html('<img class="center" src="{{ asset("img/galeria/loading.gif") }}" />');
			
			$.ajax({
				data : { "filter" : filter, "from": from*amount, "amount" : amount },
				type : 'POST',
				url : 'http://{{ app.request.host}}/gallery/',
				dataType: 'html',
				success: function(result){
					$(".gallery .gallery-page-container .gallery-slider "+section).html(result);
					
					$(".gallery .gallery-page-container .gallery-slider "+section+" .thumb .zoom").hover(
						function(){
							$(this).find(".zoom-hover").show();
							$(this).find(".zoom-normal").hide();
						},
						function(){
							$(this).find(".zoom-hover").hide();
							$(this).find(".zoom-normal").show();
						}
					);
				},
				error: function(){
					$(".gallery .gallery-page-container ").html("Nada");
				}
			});
	
		}
	
	</script>
	{% endblock %}