{% extends 'DarkRisesWebBundle:Default:base.html.twig' %}
{% block meta %}
<meta property="og:title" content="{% trans %} La Galeria del Portal {% endtrans %}"/>
<meta property="og:type" content="image"/>
<meta property="og:url" content="{{ address }}"/>
<meta property="og:image" content="http://{{ app.request.host~imagen.path }}"/>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.imagen-completa{
			display: block;
			margin: auto;
			border: #540606 solid 10px;
		}
		.imagen{
			width:831px;
			margin: auto;
		}
		.datos{
			width: 484px;
			height: 37px;
			background: url("{{ asset('/img/galeria/datos.png') }}") no-repeat top;
			float: left;
			font-family: copperplate, serif;
		}
		.datos-inside{
			padding-top:10px;
			padding-left: 20px;
		}
		.like-border{
			width: 6px;
			height: 55px;
			float: left;
			border: 0;
			margin: 0;
			padding: 0;
		}
		.like-left{
			background: url("{{ asset('/img/galeria/like/left.png') }}") no-repeat top;
		}
		.like-right{
			background: url("{{ asset('/img/galeria/like/right.png') }}") no-repeat top;
			margin-left: -5px;
		}
		.like-body{
			height: 55px;
			width: 100px;
			background: url("{{ asset('/img/galeria/like/body.png') }}") repeat-x top;
			float: left;
			border: 0;
			margin: 0;
			padding: 0;
		}
		.fb-like{
			margin: 15px 5px;
		}
		.black-tab-abajo-border{
			width: 9px;
			height: 51px;
			float: left;
			border: 0;
			margin: 0;
			padding: 0;
		}
		.black-tab-abajo-left{
			background: url("{{ asset('/img/galeria/black-tab-abajo/left.png') }}") no-repeat top;
			margin-right: -1px;
		}
		.black-tab-abajo-right{
			background: url("{{ asset('/img/galeria/black-tab-abajo/right.png') }}") no-repeat top;
			margin-left: -5px;
		}
		.black-tab-abajo-body{
			height: 55px;
			width: 100px auto;
			background: url("{{ asset('/img/galeria/black-tab-abajo/body.png') }}") repeat-x top;
			float: left;
			border: 0;
			margin: 0;
			padding: 0;
		}
		.volver-galeria{
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			display: block;
		}
		.ver-mas{
			margin: 3px 10px;
			font-family: copperplate, serif;
		}
		.abajo{
			display: block;
			width: 841px;
			text-align: center;
		}
		.compartir{
			float: right;
		}
		.black-tab-abajo-inside{
			
		}
		.share{
			cursor: pointer;
			margin-right: 5px;
    		margin-top: 10px;
		}
		.compartir-1{
			margin-right: 8px;
			margin-top: 15px;
			margin-left: 8px;
    		float: left;
    		font-family: copperplate, serif;
		}
		.fb_dialog{
			z-index: 500000000000 !important;
		}
		
		#demo-frame > div.demo { padding: 10px !important; }
		.scroll-pane { overflow: auto; width: 99%; float:left; padding: 10px 0px; }
		.scroll-content { width: {{ (259 * (gallerySmall|length)) }}px; float: left; background: #11110f; z-index: 1;}
		.scroll-content-item { 
			z-index: 2;
			position: absolute;
			margin: 5px;
			font-size: 3em;
			line-height: 96px;
			text-align: center;
			
			display: block;
		}
		* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
		.scroll-bar-wrap { background: #000000; clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; height: 30px}
		.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
		.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
		.scroll-bar-wrap .ui-slider-handle { 
			top:0.1em;
			height: 20px;
			width: {{ (841 / (gallerySmall|length)) - 10 }}px;
			background: #0d0d0d; 
			border-top: #2f2f2f solid 5px;
			border-left: #090909 solid 5px;
			border-bottom: #070707 solid 5px;
			border-right: #1e1e1e solid 5px;
		}
		.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
	
		.flechas{
			position: absolute;
			margin: auto;
			width:823px;
			margin: 8px;
			display: none;
		}
		.flecha-izquierda{
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
			float: left;
			display: block;
		}
		.flecha-derecha{
			float: right;
			display: block;
		}
		.principal{
			position: relative;
		}
		.thumb{
			position: relative;
			text-align: center;
			width: 259px;
			height: 195px;
			float: left;
		}
		.zoom{
			z-index: 3;
			width: 259px;
			height: 195px;
			cursor: pointer;
		}
		.zoom-up{
			width: 259px;
			height: 27px;
			background: url("{{ asset('/img/galeria/zoom-mini/up.png') }}") no-repeat top;
		}
		.zoom-down{
			width: 259px;
			height: 27px;
			margin-right: -5px;
			background: url("{{ asset('/img/galeria/zoom-mini/down.png') }}") no-repeat top;
		}
		.zoom-cuerpo{
			width: 259px;
			height: 141px;
			background: url("{{ asset('/img/galeria/zoom-mini/cuerpo.png') }}") repeat-y top;
		}
		.lupa{
			display: block;
			position: absolute;
			right: 100px;
			top: 60px;
		}
		.zoom-hover{
			display:none;
			left: 2px;
			position: absolute;
			top: 1px;
		}
		.zoom-normal{
			border: 5px solid #540606;
			height: 175px;
			left: 9px;
			position: absolute;
			top: 5px;
			width: 235px;
		}
	</style>
{% endblock %}

 {% block body %}
 	<div class="h2"><div class="inside-h2">{% trans %} Ilustraciones {% endtrans %}</div></div>
 	<div class="imagen clear">
 		<div class="datos"><div class="datos-inside">{% trans %}Agregado el:{% endtrans %} {{ imagen.agregado|date("m/d/Y") }} - {% trans %}Por:{% endtrans %} {{ imagen.autor }}</div></div>
		<div class="principal clear">
			<div class="flechas">
				{% if prev == "nothing" %}
					<img src="{{ asset("/img/galeria/flecha/off.png") }}" class="flecha-izquierda"/>
				{% else %}
					<a href="http://{{ app.request.host~"/fanart"~prev }}">
						<img src="{{ asset("/img/galeria/flecha/on.png") }}" class="flecha-izquierda"/>
					</a>
				{% endif %}
				{% if next == "nothing" %}
					<img src="{{ asset("/img/galeria/flecha/off.png") }}" class="flecha-derecha"/>
				{% else %}
					<a href="http://{{ app.request.host~"/fanart"~next }}">
						<img src="{{ asset("/img/galeria/flecha/on.png") }}" class="flecha-derecha"/>
					</a>
				{% endif %}
			</div>
			<a href="http://{{ app.request.host~asset(imagen.path) }}" target="_blank"><img src={{ asset(imagen.path)  | imagine_filter('principal') }} class="imagen-completa"/></a>
		</div>
		<div class="abajo clear">
			<div class="like">
				<div class="like-left like-border"></div>
				<div class="like-body">
					<fb:like href="http://{{ address }}" class="fb-like" send="false" layout="button_count" width="110" show_faces="false" colorscheme="light" font="tahoma"></fb:like>
				</div>
				<div class="like-right like-border"></div>
			</div>
			<div class="volver-galeria">
				<div class="black-tab-abajo-left black-tab-abajo-border"></div>
				<div class="black-tab-abajo-body">
					<div class="ver-mas">
						<div class="ver-mas-inside">{% trans %} Volver a Galería {% endtrans %}</div>
					</div>
				</div>
				<div class="black-tab-abajo-right black-tab-abajo-border"></div>
			</div>
			<div class="compartir">
				<div class="black-tab-abajo-left black-tab-abajo-border"></div>
				<div class="black-tab-abajo-body">
					<div class="black-tab-abajo-inside">
						<span class="compartir-1">{% trans %} Compartir: {% endtrans %} </span>
						<img class="share" src="{{ asset('/img/galeria/facebook.png') }}" onClick="postToFeed();"/>
						<img class="share twitter" onClick="twitterShare();" src="{{ asset('/img/galeria/twitter.png') }}"/>
						<img class="share google" onClick="googleShare();" src="{{ asset('/img/galeria/google.png') }}"/>
					</div>
				</div>
				<div class="black-tab-abajo-right black-tab-abajo-border"></div>
			</div>
			<div class="scroll-pane">
				<div class="scroll-content">
					{% for small in gallerySmall %}
						<div class="thumb">
							<a href="http://{{ app.request.host~"/fanart"~small.dir }}">
								<div class="zoom" style="background: url('{{ asset(small.path) | imagine_filter('side_gallery') }}') no-repeat center;">
									<div class="zoom-normal"></div>
									<div class="zoom-hover">
										<div class="zoom-up"></div>
										<div class="zoom-cuerpo">
											<img src="{{ asset('/img/galeria/lupa.png') }}" class="lupa" />
										</div>
										<div class="zoom-down"></div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %} 
				</div>
				<div class="scroll-bar-wrap">
					<div class="scroll-bar"></div>
				</div>
			</div>
			<div class="fb-comments" data-href="http://{{ address }}" data-num-posts="2" data-width=" 841" data-colorscheme="dark"></div>
		</div>
	</div>
 {% endblock %}
 
 {% block lightboxes %}
 	{{ parent() }}

 {% endblock %}
 
 {% block hidden %}
 	{{ parent() }}
 
 {% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(
			function(){
				
				{% if prev != "nothing" %}
					$(".flecha-izquierda").hover(
						function(){$(this).attr("src","{{ asset('/img/galeria/flecha/over.png') }}");},
						function(){$(this).attr("src","{{ asset('/img/galeria/flecha/on.png') }}");}
					);
				{% endif %}
				
				{% if next != "nothing" %}
					$(".flecha-derecha").hover(
						function(){$(this).attr("src","{{ asset('/img/galeria/flecha/over.png') }}");},
						function(){$(this).attr("src","{{ asset('/img/galeria/flecha/on.png') }}");}
					);
				{% endif %}
				
				$(".principal").hover(
					function(){$(this).find(".flechas").show();},
					function(){$(this).find(".flechas").hide();}
				);
				
				$(".zoom").hover(
					function(){
						$(this).find(".zoom-hover").show();
						$(this).find(".zoom-normal").hide();
					},
					function(){
						$(this).find(".zoom-hover").hide();
						$(this).find(".zoom-normal").show();
					}
				);
				
					var scrollPane = $( ".scroll-pane" ),
						scrollContent = $( ".scroll-content" );
					
					//build slider
					var scrollbar = $( ".scroll-bar" ).slider({
						slide: function( event, ui ) {
							if ( scrollContent.width() > scrollPane.width() ) {
								scrollContent.css( "margin-left", Math.round(
									ui.value / 100 * ( scrollPane.width() - scrollContent.width() )
								) + "px" );
							} else {
								scrollContent.css( "margin-left", 0 );
							}
						}
					});
					
					//append icon to handle
					var handleHelper = scrollbar.find( ".ui-slider-handle" )
					.mousedown(function() {
						scrollbar.width( handleHelper.width() );
					})
					.mouseup(function() {
						scrollbar.width( "100%" );
					})
					.append( "<span class='ui-icon ui-icon-grip-dotted-vertical'></span>" )
					.wrap( "<div class='ui-handle-helper-parent'></div>" ).parent();
					
					//change overflow to hidden now that slider handles the scrolling
					scrollPane.css( "overflow", "hidden" );
					
					//size scrollbar and handle proportionally to scroll distance
					function sizeScrollbar() {
						var remainder = scrollContent.width() - scrollPane.width();
						var proportion = remainder / scrollContent.width();
						var handleSize = scrollPane.width() - ( proportion * scrollPane.width() );
						scrollbar.find( ".ui-slider-handle" ).css({
							width: handleSize,
							"margin-left": -handleSize / 2
						});
						handleHelper.width( "" ).width( scrollbar.width() - handleSize );
					}
					
					//reset slider value based on scroll content position
					function resetValue() {
						var remainder = scrollPane.width() - scrollContent.width();
						var leftVal = scrollContent.css( "margin-left" ) === "auto" ? 0 :
							parseInt( scrollContent.css( "margin-left" ) );
						var percentage = Math.round( leftVal / remainder * 100 );
						scrollbar.slider( "value", percentage );
					}
					
					//if the slider is 100% and window gets larger, reveal content
					function reflowContent() {
							var showing = scrollContent.width() + parseInt( scrollContent.css( "margin-left" ), 10 );
							var gap = scrollPane.width() - showing;
							if ( gap > 0 ) {
								scrollContent.css( "margin-left", parseInt( scrollContent.css( "margin-left" ), 10 ) + gap );
							}
					}
					
					//change handle position on window resize
					$( window ).resize(function() {
						resetValue();
						sizeScrollbar();
						reflowContent();
					});
					//init scrollbar size
					setTimeout( sizeScrollbar, 10 );//safari wants a timeout
					
					$(".ui-slider-handle").html("").removeClass("ui-corner-all");
				});			
		
		function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          link: 'http://{{ address }}',
          picture: 'http://{{ app.request.host~imagen.path }}',
          name: 'La Galeria del Portal',
          caption: 'Vean las criaturas que las personas nos están enviando.',
          description: 'Visite www.darkrises.com y participe.'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
        
        return false;
      }
      
      function twitterShare() {
      	var width  = 575,
        height = 400,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url    = 'https://twitter.com/share?text=La%20Galeria%20del%20Portal(DarkRises.com)',
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;
    
   		window.open(url, 'Twitter', opts).focus();
 
    	return false;
      }
      
      function googleShare(){
      var width  = 480,
        height = 380,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url    = 'https://plus.google.com/share?url=http://{{ address }}',
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left	 +
                 ',scrollbars=no';
    
   		window.open(url, 'Google +', opts).focus();
      }
    
	</script>
	{% endblock %}