{% extends 'DarkRisesWebBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.inicio-quees{
			background: url("{{ asset("img/inicio/quees/off.png") }}") no-repeat center;
			width: 456px;
			height: 139px;
		}
		.inicio-quees-inside{
			font-family: copperplate, serif;
			font-size: 30px;
			padding-top: 35px;
			padding-left: 160px;
			text-align: center;
			color: white;
		}
		.inicio-quees-over{
			background: url("{{ asset("img/inicio/quees/on.png") }}") no-repeat center;
		}
		
		.inicio-pack{
			background: url("{{ asset("img/inicio/pack/off.png") }}") no-repeat center;
			width: 456px;
			height: 139px;
		}
		.inicio-pack-over{
			background: url("{{ asset("img/inicio/pack/on.png") }}") no-repeat center;
		}
		.inicio-pack-inside{
			font-family: copperplate, serif;
			font-size: 18px;
			padding-top: 45px;
			padding-left: 10px;
			text-align: center;
			color: white;
		}
		
		.red-glow{
			filter: glow(color=#c00000,strength=3);
			text-shadow: 0 0 0.2em #c00000, 0 0 0.2em #c00000, 0 0 0.2em #c00000;
		}
		
		.principiante{
			width: 799px;
			height: 1034px;
			background: url("{{ asset("img/inicio/fondo-principiante.png") }}") no-repeat center;
		}
		
		h1{
			font-size: 48px;
			text-transform: capitalize;
		}
		
		.popup-info{
			width: 620px;
			text-align: left;
		}
		
		.popup-info td{
			width: 30%;
		}
	</style>
{% endblock %}

 {% block body %}
     <div class="video-trailer"> 
     	<div id="video">
           <object class="video" id="smluiswf0" data="https://www.youtube.com/v/EdXSKfnWWzo?version=3&amp;feature=player_embedded&amp;autohide=1&amp;autoplay=0&amp;fs=1&amp;loop=0&amp;rel=0" waitforclick="false" wmode="transparent" quality="high" allowscriptaccess="always" type="application/x-shockwave-flash">
              <param value="smluiswf0" name="id">
              <param value="https://www.youtube.com/v/EdXSKfnWWzo?version=3&amp;feature=player_embedded&amp;autohide=1&amp;autoplay=0&amp;fs=1&amp;loop=0&amp;rel=0" name="swfSrc">
              <param value="640" name="width">
              <param value="390" name="height">
              <param value="false" name="waitforclick">
              <param value="transparent" name="wmode">
              <param value="always" name="allowscriptaccess">
              <param value="true" name="allowfullscreen">
              <embed width="640" height="390" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" src="https://www.youtube.com/v/EdXSKfnWWzo?version=3&amp;feature=player_embedded&amp;autohide=1&amp;autoplay=0&amp;fs=1&amp;loop=0&amp;rel=0">
           </object>
       </div>
     </div>
     <div class="info">
     	<div class="inside-info">
     		<div class="left text-center">
				<a href="/guia/queues/"/>
					<div class="inicio-quees"/>
						<div class="inicio-quees-inside">
							¿Qué es <br/> Dark Rises?				
						</div>
					</div>
				</a>
				<!-- <a href="/guia/queues/"/> -->
					<div class="inicio-pack clear"/>
						<div class="inicio-pack-inside">
							¡Registrate y obtén el <br/> Pack de Principiante!				
						</div>
					</div>
				<!-- </a> -->
				<a id="principiante-popup" class="yellow"> {% trans %}¿Qué es esto? {% endtrans %}</a>
				
			</div>
		</div>
     </div>
 {% endblock %}
 
 {% block lightboxes %}
 	{{ parent() }}
 	<div class="shadow-inside principiante yellow text-center" name="principiante"/>
 		<div class="shadow-padding">
			<h1 class="copperplate"> {% trans %} Pack de Principiante {% endtrans %}</h1>
			<p> Dark Rises es un juego que por el momento aún no está funcional en las redes sociales, es por eso que si te registras ahora, y como muestra de agradecimiento a la buena fe de nuestro juego, le regalaremos un pack de principiante que constará de todos los objetos que se listan a continuación. </p>
			<div class="left">
				<img src="{{ asset("img/inicio/popup/guantes.png") }}"/>
			</div>
			<div class="left popup-info">
				<span class="yellow"> GUANTES NIVEL 2 (mejorado +8) </span>
				<table class="white">
					<tr>
						<td> Mejoras </td>
						<td> +0 </td>
						<td> +8 </td>
					</tr>
					<tr>
						<td> Defensa </td>
						<td> 1 </td>
						<td> 9 </td>
					</tr>
				</table>
			</div>
			<div class="left clear">
				<img src="{{ asset("img/inicio/popup/calzado.png") }}"/>
			</div>
			<div class="left popup-info">
				<span class="yellow"> CALZADO NIVEL 3 (mejorado +8) </span>
				<table class="white">
					<tr>
						<td> Mejoras </td>
						<td> +0 </td>
						<td> +8 </td>
					</tr>
					<tr>
						<td> Def. Mágica </td>
						<td> 1 </td>
						<td> 9 </td>
					</tr>
				</table>
			</div>
			<div class="left clear">
				<img src="{{ asset("img/inicio/popup/canillera.png") }}"/>
			</div>
			<div class="left popup-info">
				<span class="yellow"> PROTECTOR LIGERO NIVEL 1 (mejorado +8) </span>
				<table class="white">
					<tr>
						<td> Mejoras </td>
						<td> +0 </td>
						<td> +8 </td>
					</tr>
					<tr>
						<td> Defensa </td>
						<td> 2 </td>
						<td> 18 </td>
					</tr>
					<tr>
						<td> Def. Mágica </td>
						<td> 2 </td>
						<td> 18 </td>
					</tr>
				</table>
			</div>
			<div class="left clear">
				<img src="{{ asset("img/inicio/popup/cuchillo.png") }}"/>
			</div>
			<div class="left popup-info">
				<span class="yellow"> CUCHILLO NIVEL 1 (mejorado +8) </span>
				<table class="white">
					<tr>
						<td> Mejoras </td>
						<td> +0 </td>
						<td> +8 </td>
					</tr>
					<tr>
						<td> Daño</td>
						<td> 30 - 40 </td>
						<td> 78 - 96 </td>
					</tr>
					<tr>
						<td> Daño Mágico </td>
						<td> 30 - 40 </td>
						<td> 78 - 96 </td>
					</tr>
				</table>
			</div>
			<div class="left clear">
				<img src="{{ asset("img/inicio/popup/bono.png") }}"/>
			</div>
			<div class="left popup-info">
				<span class="yellow"> ESPACIO EXTRA PARA BONO EN EQUIPO </span>
				<p class="white"> Con la energía de manos hábiles, obtendrás un nuevo espacio para insertar un bono adicional a tu equipo y mejorarlo más aún para tener un equipo único.</p>
			</div>
			<div class="left clear">
				<img src="{{ asset("img/inicio/popup/fondo.png") }}"/>
			</div>
			<div class="left popup-info">
				<span class="yellow"> FONDO EXCLUSIVO PARA AVATAR </span>
				<p class="white">Este fondo sólo lo tendrán las personas que obtuvieron este pack, fondo limitado y de colección para los jugadores.</p>
			</div>
			<p class="clear"> Para registrarte, lo único que debes hacer es iniciar tu sesión de Facebook en nuestra página. Muchas gracias por el apoyo y esperamos que pronto estén divirtiéndose junto a nosotros. </p>
		</div>
	</div>
 {% endblock %}
 
 {% block hidden %}
 	{{ parent() }}
 	<img src="{{ asset("img/inicio/pack/on.png") }}" />
 	<img src="{{ asset("img/inicio/quees/on.png") }}" />
 {% endblock %}
 
 {% block footer %}
 	{{ parent() }}
 	<img src="{{ asset("img/credits.png") }}" class="credits" />
 {% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
		$("#document").ready(
			function(){
				$("#principiante-popup").click(
					function(e){
						$(".shadow").show();
						$(".principiante").show();
					}
				);
			
				$(".inicio-quees").hover(
					function(){
						$(this).addClass("inicio-quees-over").find(".inicio-quees-inside").addClass("red-glow");
					},function(){
						$(this).removeClass("inicio-quees-over").find(".inicio-quees-inside").removeClass("red-glow");
					}
				);
				
				$(".inicio-pack").hover(
					function(){
						$(this).addClass("inicio-pack-over").find(".inicio-pack-inside").addClass("red-glow");
					},function(){
						$(this).removeClass("inicio-pack-over").find(".inicio-pack-inside").removeClass("red-glow");
					}
				);
			}
		);
	</script>
{% endblock %}
