{% extends 'DarkRisesWebBundle:Default:base.html.twig' %}

 {% block body %}
     <div class="video-trailer"> 
     	<div id="video">
           <object class="video" id="smluiswf0" data="https://www.youtube.com/v/EdXSKfnWWzo?version=3&amp;feature=player_embedded&amp;autohide=1&amp;autoplay=0&amp;fs=1&amp;loop=0&amp;rel=0" waitforclick="false" wmode="transparent" quality="high" allowscriptaccess="always" type="application/x-shockwave-flash">
              <param value="smluiswf0" name="id">
              <param value="https://www.youtube.com/v/EdXSKfnWWzo?version=3&amp;feature=player_embedded&amp;autohide=1&amp;autoplay=0&amp;fs=1&amp;loop=0&amp;rel=0" name="swfSrc">
              <param value="640" name="width">
              <param value="390" name="height">
              <param value="false" name="waitforclick">
              <param value="transparent" name="wmode">
              <param value="always" name="allowscriptaccess">
              <param value="true" name="allowfullscreen">
              <embed width="640" height="390" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" src="https://www.youtube.com/v/EdXSKfnWWzo?version=3&amp;feature=player_embedded&amp;autohide=1&amp;autoplay=0&amp;fs=1&amp;loop=0&amp;rel=0">
           </object>
       </div>
     </div>
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Wallpaper {% endtrans %}</div></div>
     	<div class="inside-info">
			{% if facebook == null %}
			<img src="{{ asset("img/wallpaper/mini1.png") }}" />
			<img src="{{ asset("img/wallpaper/mini2.png") }}" />
			<img src="{{ asset("img/wallpaper/mini3.png") }}" />
			<img src="{{ asset("img/wallpaper/mini4.png") }}" />
			<a href="#facebook" class="media-link link-to-login"><div class="ver-mas"><div class="ver-mas-inside-logout">{% trans %} LogininFacebook {% endtrans %}</div></div></a>
			{% else %}
			<a href="/media/wallpaper/" class="media-link"><img src="{{ asset("img/wallpaper/mini1.png") }}" /></a>
			<a href="/media/wallpaper/" class="media-link"><img src="{{ asset("img/wallpaper/mini2.png") }}" /></a>
			<a href="/media/wallpaper/" class="media-link"><img src="{{ asset("img/wallpaper/mini3.png") }}" /></a>
			<a href="/media/wallpaper/" class="media-link"><img src="{{ asset("img/wallpaper/mini4.png") }}" /></a>
			<a href="/media/wallpaper/" class="media-link"><div class="ver-mas"><div class="ver-mas-inside">{% trans %} VerMas {% endtrans %}</div></div></a>
			{% endif %}
		</div>
     </div>
     <!-- <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Bestiario {% endtrans %}</div></div>
     	<div class="inside-info">
     		{% if facebook == null %}
			<img src="{{ asset("img/bestiario.png") }}" />
			<div class="ver-mas"><div class="ver-mas-inside-logout">{% trans %} LogininFacebook {% endtrans %}</div></div>
			{% else %}
			<a href="/media/bestiario/" class="media-link"><img src="{{ asset("img/bestiario.png") }}" /></a>
			<a href="/media/bestiario/" class="media-link"><div class="ver-mas"><div class="ver-mas-inside">{% trans %} VerMas {% endtrans %}</div></div></a>
			{% endif %}
     	</div>
     </div> -->
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Artwork {% endtrans %}</div></div>
     	<div class="inside-info">
     		{% if facebook == null %}
			<img src="{{ asset("img/monstruos.png") }}" />
			<a href="#facebook" class="media-link link-to-login"><div class="ver-mas"><div class="ver-mas-inside-logout">{% trans %} LogininFacebook {% endtrans %}</div></div></a>
			{% else %}
			<a href="/media/artwork/" class="media-link"><img src="{{ asset("img/monstruos.png") }}" /></a>
			<a href="/media/artwork/" class="media-link"><div class="ver-mas"><div class="ver-mas-inside">{% trans %} VerMas {% endtrans %}</div></div></a>
			{% endif %}
     	</div>
     </div>
 {% endblock %}

{% block javascript %}

	{{ parent() }}
	<script type="text/javascript">
		$("#document").ready(
			function(){
				$(".ver-mas").hover(function(){$(this).addClass("ver-mas-hover");},function(){$(this).removeClass("ver-mas-hover");});
				
				$(".link-to-login").click(function(){$("#auth-loginlink").css("border", "solid 3px #cfcf74")})
			}
		);
	</script>
{% endblock %}
