{% extends 'DarkRisesWebBundle:Default:base.html.twig' %}

 {% block body %}
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Contexto {% endtrans %}</div></div>
     	<div class="inside-info">
			{% trans %} Dark Rises es un juego de navegador free-to-play desarrollado por la empresa Last Seal para en una primera instancia entrar en la plataforma de red social Facebook. Consiste en un juego de rol que permite que miles de jugadores puedan participar en un mundo virtual de manera simultánea e interactuar entre ellos, más conocido como MMORPG. {% endtrans %}
		</div>
     </div>
     <div class="info">
     	<div class="h2-right"><div class="inside-h2">{% trans %} Ambientación {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left">
     			<img src="{{ asset("img/quees/ambientacion.png") }}"/>
     		</div>
     			<br/> <br/> <br/>
     			{% trans %}
     				Nos encontramos en un mundo contemporáneo sobrenatural, con una cantidad cada vez más creciente de crímenes y sucesos oscuros. Eso ha llevado a que un grupo de personas decida investigar lo que hay detrás y enfrentarse a lo desconocido. Con el pasar del tiempo, descubrirán que existe un conflicto aún mayor detrás de todo. El eterno conflicto entre los no tan benévolos ángeles y los nunca confiables demonios.
     			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Diferencias{% endtrans %}</div></div>
     	<div class="inside-info">
     	<div class="right">
     			<img src="{{ asset("img/quees/diferencias.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     		{% trans %}
			El juego Dark Rises posee tres grandes diferencias en comparación con los otros juegos de Facebook. Dichas diferenciaciones irán apareciendo a medida que el juego vaya evolucionando. Contará con un comercio entre jugadores para que negocien cualquier tipo de bien virtual  entre usuarios. En su momento aparecerá un módulo de misiones y combates grupales, dónde se hace imprescindible la parte social. Y por último, y lo más importante, la creación periódica de eventos que determinará una raza ganadora y que repercutirá en la continuidad de la historia del juego.
			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2-right"><div class="inside-h2">{% trans %} Personalización {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left">
     			<img src="{{ asset("img/quees/personalizacion.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     			{% trans %}
     				Dark Rises posee un sistema detallado para crear un avatar personalizado.  Desde vestimentas hasta peinados y accesorios. Además se incorporarán elementos de fondo como el entorno y el vehículo. Durante el desarrollo del juego se irán implementando más novedades para que el jugador pueda tener un avatar único, todo para que se pueda lograr una imagen única y propia.
     			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Inventario {% endtrans %}</div></div>
     	<div class="inside-info">
     	<div class="right">
     			<img src="{{ asset("img/quees/inventario.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     		{% trans %}
			Se ha incorporado un sistema de inventario tradicional de los juegos de rol, aunque los objetos con los que se equipa al jugador son: armas blancas y de fuego, chalecos protectores, relojes, guantes, canilleras, zapatos y amuletos protectores. Podrás guardar todos tus equipajes en una mochila, un portaequipaje y un bunker.
			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2-right"><div class="inside-h2">{% trans %} Misiones y Combates {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left">
     			<img src="{{ asset("img/quees/misiones.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     			{% trans %}
     				Las misiones te llevarán a distintos lugares en donde están ocurriendo crímenes o avistamientos, tendrás que ir a enfrentarte con quien quiera que sea que esté ocasionando el terror en la población. También podrás desafiar a combate a otros jugadores, y lograr así, premios adicionales para mejorar a tu personaje.
				{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Criaturas{% endtrans %}</div></div>
     	<div class="inside-info">
     	<div class="right">
     			<img src="{{ asset("img/quees/criaturas.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     		{% trans %}
			Una gran variedad de tipos y categorías de criaturas aparecen durante el juego. Podrás encontrar incorpóreos, aberraciones, humanos y semihumanos, no muertos, cambia formas, ymir, ajenos, demonios y ángeles. Encontrarás más detalles cuando entre al bestiario. 
			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2-right"><div class="inside-h2">{% trans %} Comercio {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left">
     			<img src="{{ asset("img/quees/comercio.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     			{% trans %}
     				Dark Rises posee un sistema de comercio con la tienda, donde los jugadores podrán comprar y vender los objetos y equipamientos que quieran. Además se incorpora el comercio entre jugadores, donde los mismos deciden los valores de compra y venta acorde a la oferta y demanda que se cree dentro del mundo del juego.
     			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Mejoras {% endtrans %}</div></div>
     	<div class="inside-info">
     	<div class="right">
     			<img src="{{ asset("img/quees/mejoras.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     		{% trans %}
			Cada equipamiento que se adquiera para el inventario podrá ser mejorado, y existen tres formas de mejorar el equipo. Mejora de nivel o poder (+0, +1, +2…+10), Bonos (entrega una facultad al equipo a través del traspaso de energía espiritual a éste) e Inscripciones (entrega una facultad al equipo mediante una grabado en éste). La forma en que se pueden combinar las diversas opciones que presentan estos tres tipos de mejoras, generan una gran variedad de estrategias en el combate.
			{% endtrans %}
     	</div>
     </div>
      <div class="info">
     	<div class="h2-right"><div class="inside-h2">{% trans %} Razas {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left">
     			<img src="{{ asset("img/quees/razas.png") }}"/>
     		</div>
     			<br/> <br/> <br/>
     			{% trans %}
     				Durante el transcurso del juego, llegará el momento en que el jugador deberá decidir a qué raza quiere defender, ante ello tiene tres opciones: Unirse a los ángeles, a los demonios o a la propia raza humana. El jugador deberá elegirlo con sabiduría.
				{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Poderes{% endtrans %}</div></div>
     	<div class="inside-info">
     	<div class="right">
     			<img src="{{ asset("img/quees/poderes.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     		{% trans %}
			Existe una cantidad de poderes únicos pertenecientes a cada raza y clase, los que tendrán un gran valor estratégico durante los combates con criaturas y con otros jugadores. A medida que se sube en los niveles de experiencia, adquirirás puntos para distribuirlos en los poderes que quieras y así derrotar a cualquier amenaza.
			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2-right"><div class="inside-h2">{% trans %} Títulos y Reputación {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left">
     			<img src="{{ asset("img/quees/titulos.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     			{% trans %}
     				A medida que transcurre el juego y te enfrentas continuamente con un tipo de criatura específica, ganarás un título que te irá destacando ante los demás (Vampiros: profesional, Espíritus: amateur, etc.). Los títulos son: novato, amateur, profesional, experto y veterano. Por otra parte, tu reputación como jugador dependerá de cómo resulten los combates en que participas. Influirá si ganas siempre, si pierdes, si te retiras, etc. Dichos títulos y reputación podrán hacerse públicos en tu perfil para que los demás jugadores lo vean cuando te visiten.
				{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Crónicas {% endtrans %}</div></div>
     	<div class="inside-info">
     	<div class="right">
     			<img src="{{ asset("img/quees/cronicas.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     		{% trans %}
			Hemos dado espacio para potenciar lo que es la historia del juego, por lo que hemos dividido la parte escrita en dos secciones: Historia y Crónicas. La Historia será el guión principal de Dark Rises, la que se entregará en capítulos, y es la que lleva los sucesos y genera los eventos, es la que da paso a los cambios del juego por parte de los jugadores. En ésta los jugadores pueden inmortalizar los nombres de sus personajes. Las crónicas son relatos cortos para ambientar y explicar detalles del mundo, y éstas no están sujetas estrictamente a una correlación entre ellas, tampoco llevan un orden cronológico.
			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2-right"><div class="inside-h2">{% trans %} Misiones Grupales {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left">
     			<img src="{{ asset("img/quees/grupales.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     			{% trans %}
     				Otra de las novedades de Dark Rises es que se potencia el juego grupal, habrán misiones y combates por grupos que los mismos usuarios pueden organizar. Podrán combinar amigos de diferentes habilidades y poderes para formar distintas estrategias y así formar un grupo muy poderoso.
     			{% endtrans %}
     	</div>
     </div>
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Eventos {% endtrans %}</div></div>
     	<div class="inside-info">
     	<div class="right">
     			<img src="{{ asset("img/quees/eventos.png") }}"/>
     		</div>
     		<br/> <br/> <br/>
     		{% trans %}
			La mayor novedad de Dark Rises consiste en la organización periódica de misiones especiales que llaman a la participación de todos los jugadores. Consistirá en un enfrentamiento de las tres razas y la raza ganadora influenciará en la continuidad de la historia del juego. Mientras más jugadores de una raza participen, más probabilidades existen de que esa la raza ganadora.
			{% endtrans %}
     	</div>
     </div>
    
 {% endblock %}
