{% extends 'DarkRisesWebBundle:Default:base.html.twig' %}

 {% block body %}
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Wallpaper {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big01.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/1/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/1/1024x768.jpg"  target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/1/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/1/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/1/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/1/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big02.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/2/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/2/1024x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/2/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/2/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/2/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/2/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big03.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/3/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/3/1024x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/3/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/3/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/3/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/3/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big04.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/4/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/4/1024x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/4/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/4/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/4/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/4/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big05.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/5/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/5/1024x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/5/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/5/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/5/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/5/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big06.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/6/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/6/1024x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/6/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/6/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/6/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/6/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big07.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/7/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/7/1024x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/7/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/7/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/7/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/7/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big08.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/8/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/8/1024x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/8/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/8/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/8/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/8/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big09.png") }}" /> </div>
     		<div class="right">
				<a href="/wallpaper/highres/9/800x600.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/9/1024x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/9/1280x800.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/9/1280x1024.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/9/1336x768.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				</a>
				<a href="/wallpaper/highres/9/1920x1080.jpg" target="_blank">
					<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
				</a>
			</div>
		</div>
     </div>
 {% endblock %}

{% block javascript %}

	{{ parent() }}
	<script type="text/javascript">
		$("#document").ready(
			function(){
				$(".ver-mas").hover(function(){$(this).addClass("ver-mas-hover");},function(){$(this).removeClass("ver-mas-hover");});
			}
		);
	</script>
{% endblock %}
