{% extends 'DarkRisesWebBundle:Default:base.html.twig' %}

 {% block body %}
     <div class="info">
     	<div class="h2"><div class="inside-h2">{% trans %} Wallpaper {% endtrans %}</div></div>
     	<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big01.png") }}" /> </div>
     		<div class="right">
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big02.png") }}" /> </div>
     		<div class="right">
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big03.png") }}" /> </div>
     		<div class="right">
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big04.png") }}" /> </div>
     		<div class="right">
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big05.png") }}" /> </div>
     		<div class="right">
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big06.png") }}" /> </div>
     		<div class="right">
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big07.png") }}" /> </div>
     		<div class="right">
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
			</div>
		</div>
		<div class="inside-info">
     		<div class="left"><img src="{{ asset("img/wallpaper/big08.png") }}" /> </div>
     		<div class="right">
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 800 x 600 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1024 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 800 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1280 x 1024 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1336 x 768 {% endtrans %}</div></div>
				<div class="ver-mas"><div class="ver-mas-inside">{% trans %} 1920 x 1080 {% endtrans %}</div></div>
			</div>
		</div>
     </div>
 {% endblock %}

{% block javascript %}

	{{ parent() }}
	<script type="text/javascript">
		$("#document").ready(
			function(){
				$(".ver-mas").hover(function(){$(this).addClass("ver-mas-hover");},function(){$(this).removeClass("ver-mas-hover");});
			}
		);
	</script>
{% endblock %}
